<h1>Agrege sus URL</h1>

{{> Form}}
{{!-- iterar listas y usar sus propiedades --}}
{{#each urls }}
    {{> Card item=this}}{{!-- pasar el this al otro componente (EL THIS SE PASA AUTOMATICO, esta es la forma explicita) --}}
{{/each}}